<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bwilliamson_exporter>
            <clickup_config>
                <base_uri>https://api.clickup.com/api/v2/</base_uri>
            </clickup_config>
        </bwilliamson_exporter>
    </default>
</config>
